<div id="aii-slider">
    <div id="aii-confirmation-content">
        <div class="aii-ajax-loader-container">
            <img id="aii-ajax-loader-1">
            <script>
                var img = document.getElementById('aii-ajax-loader-1').src = window.advancedInstantPurchase.ui.loader;
            </script>
        </div>
    </div>
    <div id="aii-next-slide-container">
        <div class="aii-ajax-loader-container">
            <img id="aii-ajax-loader-2">
            <script>
                var img = document.getElementById('aii-ajax-loader-2').src = window.advancedInstantPurchase.ui.loader;
            </script>
        </div>
    </div>
</div>
