<?xml version="1.0"?>
<!--
/**
 * Naxero.com
 * Professional ecommerce integrations for Magento.
 *
 * PHP version 7
 *
 * @category  Magento2
 * @package   Naxero
 * @author    Platforms Development Team <contact@naxero.com>
 * @copyright © Naxero.com all rights reserved
 * @license   https://opensource.org/licenses/mit-license.html MIT License
 * @link      https://www.naxero.com
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <buy_now>
            <general>
                <enabled>1</enabled>
            </general>
            <buttons>
                <button_text>Buy Now</button_text>
                <show_guest_button>1</show_guest_button>
                <guest_button_text>Buy Now</guest_button_text>
                <products_with_options>open</products_with_options>
                <product_tree_filter>parent</product_tree_filter>
                <product_time_limit>0</product_time_limit>
                <show_product_countdown>1</show_product_countdown>
                <customer_groups></customer_groups>
                <bypass_oos>0</bypass_oos>
                <button_classes>primary button</button_classes>
            </buttons>
            <products>
                <product_view>1</product_view>
                <product_list>1</product_list>
            </products>        
            <popups>
                <popup_responsive>1</popup_responsive>
                <popup_title><![CDATA[Buy now - {product_name} for {product_price}]]></popup_title>
                <popup_header_text>Please review the options and place your order.</popup_header_text>
                <popup_footer_text>Submitting this form will process a payment and place an order.</popup_footer_text>
                <popup_confirm_button_text>Place order</popup_confirm_button_text>
                <popup_enable_agreements>0</popup_enable_agreements>
                <show_product_countdown>1</show_product_countdown>
                <popup_show_product>1</popup_show_product>
                <popup_show_product_image>1</popup_show_product_image>
                <popup_show_product_name>1</popup_show_product_name>
                <popup_show_product_quantity>1</popup_show_product_quantity>
            </popups>
            <widgets>
                <widget_show_product>1</widget_show_product>
                <widget_show_product_name>1</widget_show_product_name>
                <widget_show_product_quantity>1</widget_show_product_quantity>
                <widget_show_product_image>1</widget_show_product_image>
                <widget_image_width>30%</widget_image_width>
                <widget_zoom_enabled>1</widget_zoom_enabled>
                <widget_zoom_type>lens</widget_zoom_type>
            </widgets>
            <payment_methods>
                <card_allowed></card_allowed>
                <show_other_allowed></show_other_allowed>
                <other_allowed></other_allowed>
            </payment_methods>
            <card_form>
                <load><![CDATA[<h1>load</h1><script>alert("card form script")</script>]]></load>
            </card_form>
            <debug>
                <debug_enabled>0</debug_enabled>
                <ui_logging_enabled>1</ui_logging_enabled>
                <console_logging_enabled>1</console_logging_enabled>
                <file_logging_enabled>1</file_logging_enabled>
            </debug>
        </buy_now> 
    </default>
</config>