<?xml version="1.0"?>
<!--
/**
 * Naxero.com
 * Professional ecommerce integrations for Magento.
 *
 * PHP version 7
 *
 * @category  Magento2
 * @package   Naxero
 * @author    Platforms Development Team <contact@naxero.com>
 * @copyright © Naxero.com all rights reserved
 * @license   https://opensource.org/licenses/mit-license.html MIT License
 * @link      https://www.naxero.com
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <buy_now>
            <!-- General settings -->
            <general>
                <enabled>1</enabled>
                <product_view>1</product_view>
                <product_list>1</product_list>
            </general>

            <!-- Buttons settings -->
            <buttons>
                <button_text>Buy Now</button_text>
                <show_guest_button>1</show_guest_button>
                <guest_button_text>Buy Now</guest_button_text>
                <button_classes>primary button</button_classes>
            </buttons>     

            <!-- Popups settings -->
            <popups>
                <popup_responsive>1</popup_responsive>
                <popup_title><![CDATA[Buy now - {product_name} for {product_price}]]></popup_title>
                <popup_header_text>Please review the options and place your order.</popup_header_text>
                <popup_footer_text>Submitting this form will process a payment and place an order.</popup_footer_text>
                <popup_confirm_button_text>Place order</popup_confirm_button_text>
            </popups>

            <!-- Debug settings-->
            <debug>
                <debug_enabled>0</debug_enabled>
                <ui_logging_enabled>1</ui_logging_enabled>
                <console_logging_enabled>1</console_logging_enabled>
                <file_logging_enabled>1</file_logging_enabled>
            </debug>
        </buy_now> 
    </default>
</config>