<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- Purchase button block interceptor -->
    <type name="Magento\Framework\View\Element\Template">
        <plugin name="naxeroBnBlockFilter" type="Naxero\BuyNow\Plugin\BlockFilter"/>
    </type>

    <!-- Complex UI messages -->
    <type name="Magento\Framework\View\Element\Message\MessageConfigurationsPool">
        <arguments>
            <argument name="configurationsMap" xsi:type="array">
                <item name="naxeroBnOrderSuccessMessage" xsi:type="array">
                    <item name="renderer" xsi:type="const">\Magento\Framework\View\Element\Message\Renderer\BlockRenderer::CODE</item>
                    <item name="data" xsi:type="array">
                        <item name="template" xsi:type="string">Naxero_BuyNow::messages/order-success.phtml</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
</config>