<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="advanced_instant_purchase" frontName="naxero-aip">
            <module name="Naxero_AdvancedInstantPurchase" before="Magento_InstantPurchase"/>
        </route>
    </router>
</config>