<?xml version="1.0"?>
<!--
/**
 * Naxero.com
 * Professional ecommerce integrations for Magento
 *
 * PHP version 7
 *
 * @category  Magento2
 * @package   Naxero
 * @author    Platforms Development Team <contact@naxero.com>
 * @copyright Naxero.com
 * @license   https://opensource.org/licenses/mit-license.html MIT License
 * @link      https://www.naxero.com
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="naxero">
            <label>Naxero</label>
        </tab>
        <section id="advanced_instant_purchase" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Instant Purchase</label>
            <tab>naxero</tab>
            <resource>Naxero_AdvancedInstantPurchase::config</resource>
            <group id="general" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General settings</label>
                <field id="enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable the Advanced Instant Purchase module. Enabling will override the core Instant Purchase feature.</comment>
                </field>    
            </group>
            <group id="display" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="show_guest_button" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show guest button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show the Instant Purchase button to guest users.</comment>
                </field> 
                <field id="login_flow" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Login flow</label>
                    <source_model>Naxero\AdvancedInstantPurchase\Model\Config\Backend\Source\LoginFlow</source_model>
                    <depends>
                        <field id="show_guest_button">1</field>
                    </depends>
                </field>
            </group>
         </section>
    </system>
</config>