<?xml version="1.0"?>
<!--
/**
 * Naxero.com
 * Professional ecommerce integrations for Magento
 *
 * PHP version 7
 *
 * @category  Magento2
 * @package   Naxero
 * @author    Platforms Development Team <contact@naxero.com>
 * @copyright Naxero.com
 * @license   https://opensource.org/licenses/mit-license.html MIT License
 * @link      https://www.naxero.com
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="naxero">
            <label>Naxero</label>
        </tab>
        <section id="buy_now" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Buy Now</label>
            <tab>naxero</tab>
            <resource>Naxero_BuyNow::config</resource>
            <group id="general" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General settings</label>
                <field id="enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable the module. Enabling will override the core Instant Purchase feature.</comment>
                </field>    
                <field id="enable_agreements" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable agreements</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Requires the user to validate the terms and conditions before placing an order.</comment>
                </field>  
                <field id="debug_enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable the debug mode.</comment>
                </field>  
                <field id="ui_logging_enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>UI logging enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="debug_enabled">1</field>
                    </depends>
                    <comment>Enable the user interface logging (frontend).</comment>
                </field>  
                <field id="console_logging_enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Console logging enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="debug_enabled">1</field>
                    </depends>
                    <comment>Enable the Javascript browser console logging (frontend).</comment>
                </field>  
                <field id="file_logging_enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>File logging enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="debug_enabled">1</field>
                    </depends>
                    <comment>Enable the PHP file logging (backend).</comment>
                </field>  
            </group>
            <group id="buttons" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Button settings</label>
                <field id="button_text" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button text</label>
                    <comment>Text to display on the purchase button.</comment>
                </field>

                <field id="show_guest_button" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show guest button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show the Instant Purchase button to guest users.</comment>
                </field>

                <field id="bypass_oos" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bypass out of stock</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Display the button even if the product is out of stock.</comment>
                </field>

                <field id="button_classes" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Button classes</label>
                    <comment>Add custom class names separated by a white space.</comment>
                </field>
            </group>
            <group id="products" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Products settings</label>
                <field id="product_view" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product view button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Display the Buy Now button in the product details view.</comment>
                </field>
                <field id="product_list" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product list button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Display the Buy Now button in the product list view.</comment>
                </field>
            </group>
            <group id="popups" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Popup settings</label>
                <field id="popup_responsive" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Responsive</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>The responsive mode provides a mobile display for small screens.</comment>
                </field>
                <field id="popup_title" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup title</label>
                    <comment>Title for the Buy Now popup window.</comment>
                </field>
                <field id="popup_header_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup header text</label>
                    <comment>Text for the purchase popup window header.</comment>
                </field>
                <field id="popup_footer_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup title</label>
                    <comment>Text for the purchase popup window footer.</comment>
                </field>
                <field id="popup_confirm_button_text" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Place order button text</label>
                </field>
                <field id="show_product" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show the product in the purchase popup windwow.</comment>
                </field>
                <field id="show_product_image" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
                <field id="show_product_name" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
                <field id="show_product_price" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
                <field id="show_product_quantity" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product quantity</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
                <field id="show_product_desc" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product desc</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
                <field id="show_product_options" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product options</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
            </group>
            <group id="blocks" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Blocks and widgets settings</label>
                <field id="show_product" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show the product in the purchase popup windwow.</comment>
                </field>
                <field id="show_product_image" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product image</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
                <field id="show_product_name" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
                <field id="show_product_price" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product price</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
                <field id="show_product_quantity" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product quantity</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
                <field id="show_product_desc" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product desc</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
                <field id="show_product_options" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show product options</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_product">1</field>
                    </depends>
                </field>
            </group>

            <group id="payment_methods" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Payment settings</label>
                <field id="card_allowed" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Allowed card payment methods</label>
                    <source_model>Naxero\BuyNow\Model\Config\Backend\Source\PaymentMethods</source_model>
                    <comment>Options available for Instant Purchase. A saved card will be displayed to the user only if the card has been saved with a payment method enabled and selected here.</comment>
                </field>
                <field id="show_other_allowed" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show other payment methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="other_allowed" type="multiselect" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Other allowed payment methods</label>
                    <source_model>Naxero\BuyNow\Model\Config\Backend\Source\PaymentMethods</source_model>
                    <depends>
                        <field id="show_other_allowed">1</field>
                    </depends>
                    <comment>Options available for Instant Purchase. The payment method will be displayed to the user only if it has been enabled and selected here.</comment>
                </field>
            </group>
            <group id="card_form" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Card form</label>
                <field id="load" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Code</label>
                    <comment>Custom HTML/Javascript code for the save card form.</comment>
                </field>
            </group>
         </section>
    </system>
</config>