<?xml version="1.0"?>
<!--
/**
 * Naxero.com
 * Professional ecommerce integrations for Magento
 *
 * PHP version 7
 *
 * @category  Magento2
 * @package   Naxero
 * @author    Platforms Development Team <contact@naxero.com>
 * @copyright Naxero.com
 * @license   https://opensource.org/licenses/mit-license.html MIT License
 * @link      https://www.naxero.com
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="naxero">
            <label>Naxero</label>
        </tab>
        <section id="advanced_instant_purchase" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Advanced Instant Purchase</label>
            <tab>naxero</tab>
            <resource>Naxero_AdvancedInstantPurchase::config</resource>
            <group id="general" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General settings</label>
                <field id="enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable the Advanced Instant Purchase module. Enabling will override the core Instant Purchase feature.</comment>
                </field>    
                <field id="debug_enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable the debug mode.</comment>
                </field>  
                <field id="console_logging_enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Console logging enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="debug_enabled">1</field>
                    </depends>
                    <comment>Enable the Javascript browser console logging (frontend).</comment>
                </field>  
                <field id="file_logging_enabled" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>File logging enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="debug_enabled">1</field>
                    </depends>
                    <comment>Enable the PHP file logging (backend).</comment>
                </field>  
            </group>
            <group id="display" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Popup settings</label>
                <field id="popup_title" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup title</label>
                    <comment>Title for the Advanced Instant Purchase popup.</comment>
                </field>
                <field id="popup_header_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup header text</label>
                    <comment>Text for the Advanced Instant Purchase popup header.</comment>
                </field>
                <field id="popup_footer_text" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Popup title</label>
                    <comment>Text for the Advanced Instant Purchase popup footer.</comment>
                </field>
            </group>
            <group id="options" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>List options order</label>
                <field id="show_saved_cards" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show the saved cards list</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show the Instant Purchase button to guest users.</comment>
                </field>
                <field id="saved_cards" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Saved cards order</label>
                    <source_model>Naxero\AdvancedInstantPurchase\Model\Config\Backend\Source\SavedCardsOrder</source_model>
                    <depends>
                        <field id="show_saved_cards">1</field>
                    </depends>
                </field>
                <field id="show_billing_addresses" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show the billing addresses list</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="billing_addresses" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Billing addresses order</label>
                    <source_model>Naxero\AdvancedInstantPurchase\Model\Config\Backend\Source\BillingAddressesOrder</source_model>
                    <depends>
                        <field id="show_billing_addresses">1</field>
                    </depends>
                </field>
                <field id="show_shipping_addresses" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show the shipping addresses list</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shipping_addresses" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping addresses order</label>
                    <source_model>Naxero\AdvancedInstantPurchase\Model\Config\Backend\Source\ShippingAddressesOrder</source_model>
                    <depends>
                        <field id="show_shipping_addresses">1</field>
                    </depends>
                </field>
                <field id="shipping_methods" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping methods order</label>
                    <source_model>Naxero\AdvancedInstantPurchase\Model\Config\Backend\Source\ShippingMethodsOrder</source_model>
                    <depends>
                        <field id="shipping_methods">1</field>
                    </depends>
                </field>
            </group>

            <group id="guest" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Guest user settings</label>
                <field id="show_guest_button" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show guest button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show the Instant Purchase button to guest users.</comment>
                </field>
                <field id="guest_button_state" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Guest button enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_guest_button">1</field>
                    </depends>
                    <comment>Guest button state.</comment>
                </field>
                <field id="click_event" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Click event</label>
                    <source_model>Naxero\AdvancedInstantPurchase\Model\Config\Backend\Source\ClickEvent</source_model>
                    <depends>
                        <field id="guest_button_state">1</field>
                    </depends>
                    <comment>Guest button click event.</comment>
                </field>
            </group>
            <group id="registered" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Registered user settings</label>
                <field id="show_registered_button" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show registered button</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show the Instant Purchase button to registered users.</comment>
                </field> 
                <field id="bypass_missing_payment" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bypass missing payment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_registered_button">1</field>
                    </depends>
                    <comment>Show the Instant Purchase button to registered users even if they have no stored payment method available.</comment>
                </field> 
                <field id="bypass_missing_billing" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bypass missing billing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_registered_button">1</field>
                    </depends>
                    <comment>Show the Instant Purchase button to registered users even if they have no saved billing address available.</comment>
                </field> 
                <field id="bypass_missing_shipping" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bypass missing shipping</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_registered_button">1</field>
                    </depends>
                    <comment>Show the Instant Purchase button to registered users even if they have no saved shipping address available.</comment>
                </field> 
            </group>
            <group id="payment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="load" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>On load script</label>
                </field>
                <field id="submit" type="textarea" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>On submit script</label>
                </field>
            </group>
         </section>
    </system>
</config>