.aii-card-icon {
    display: flex;
    align-items: center;
}

.aii-ajax-loader-container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
}

.aii-ajax-loader-container img {
    display: block;
    margin: auto;
}

#aii-next-slide-container {
    width: 100%;
    height: 100%;
    display: none;
}

.aii-plus-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    cursor: pointer;
}

#aii-next-slide-container > form {
    width: 100%;
}

/* Fields */
.aii-field {
    margin-bottom: 1.4em;
}

.aii-select {
    width: 90%;
}

.aii-field .select2-selection,
.aii-field .select2-selection__rendered,
.aii-field .select2-selection__arrow {
    height: 2.6em !important;
    line-height: 2.6em !important;
}

.aii-label {
    font-size: 1em;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 0.4em;
}

/* Slider */
#aii-slider .messages {
    display: none;
}

#aii-slider .actions-toolbar {
    display: none !important;
}

/* Icons */
.gg-add {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid #999999;
    transform: scale(var(--ggs,1));
    border-radius: 22px;
}
   
.gg-add::after,
.gg-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: #999999;
    border-radius: 5px;
    top: 8px;
    left: 4px
}

.gg-add::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px
} 