
/* General */
.aii-clr {
    visibility: hidden;
    clear: both;
}

/* Fields */
.aii-field {
    margin-bottom: 1.4em;
}

.aii-select {
    width: 90%;
}

.aii-field .select2-selection,
.aii-field .select2-selection__rendered {
    height: 2.6em !important;
    line-height: 2.6em !important;
}

.aii-field .select2-selection__arrow {
    height: 2.50em !important;
    line-height: 2.50em !important;
}

.aii-label {
    font-size: 1em;
    display: inline-block;
    margin-bottom: 0.5em;
}

/* Slider */
#aii-slider .messages {
    display: none;
}

#aii-slider .actions-toolbar {
    display: none !important;
}

#aii-next-slide-container {
    width: 100%;
    height: 100%;
    display: none;
}

#aii-next-slide-container > form {
    width: 100%;
}

/* Modal */
.modal-footer {
    border: none !important;
}

.modal-popup.confirm .modal-inner-wrap {
    max-width: 55rem !important;
}

.modal-popup.confirm .modal-inner-wrap .modal-content {
    padding-right: 3rem !important;
}

@media (max-width: 700px) { 
    .select2-container {
        width: 85% !important;
    }
}

/* Product box */
.aii-product-box {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1.8em;
}

.aii-product-box-image {
    float: left;
    width: 25%;
}

.aii-product-box-info {
    float: left;
    width: 70%;
    padding-left: 1em;
}

.aii-product-box-name {
    font-size: 1.5em;
}

.aii-product-box-price {
    font-size: 1.2em;
}
/* Loader icon */
.aii-ajax-loader-container {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 30px;
}

.aii-ajax-loader-container img {
    display: block;
    margin: auto;
}

/* Card icons */
.aii-card-icon {
    display: flex;
    align-items: center;
}


/* Plus icons */
.aii-plus-icon {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
    cursor: pointer;
}

.gg-add {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;
    border: 2px solid #999999;
    transform: scale(var(--ggs,1));
    border-radius: 22px;
}
   
.gg-add::after,
.gg-add::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 2px;
    background: #999999;
    border-radius: 5px;
    top: 8px;
    left: 4px
}

.gg-add::after {
    width: 2px;
    height: 10px;
    top: 4px;
    left: 8px
} 